.header {
    background-color: $headerAndFooterColor;
    height: 75px;

    &_block {
        height: 100%;
        @include flexJustify(space-between);

        &_left_side {
            @include flexJustify($gapSize: 41px);
        }

        &_right_side {
            @include flexJustify($gapSize: 33px);
        }
    }
}

.t1 {
    padding-top: 12px;
    font-size: 40px;
    margin-bottom: 8px;
    color: whitesmoke;
}

.t2{
    font-size: 40px;
    color: whitesmoke;
    margin-top: 8px;
}

.hov:hover path {
    fill: $siteMainColor;
}

.burger {
    position: absolute;
    visibility: hidden;
    left: -99999px;
}

.burger:checked~.nav {
    right: 0;
}

.plus {
    position: relative;
}

.count-add-items{
    position: absolute;
    z-index: 100;
    color: $siteMainColor;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.nav {
    background: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 200px;
    height: 100px;
    padding-left: 33px;
    padding-top: 32px;
    padding-bottom: 32px;
    z-index: 10000;
    box-sizing: content-box;
    position: absolute;
    top: 77px;
    right: -240px;
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &_menu {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 24px;
    }

    &_cat {
        line-height: normal;

        &_block {
            &_name {
                color: #F16D7F;
                font-size: 15px;
                font-weight: 400;
                padding-bottom: 12px;
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 1140px) {
    .header_block {
        margin-left: 16px;
        margin-right: 16px;
    }

    .nav {
        height: 100px;
        padding-top: 16px;
        padding-bottom: 10px;
    
        &_menu {
            font-size: 12px;
            padding-bottom: 16px;
        }
    
        &_cat {
            line-height: normal;
    
            &_block {
                &_name {
                    font-size: 12px;
                    padding-bottom: 10px;
                }
    
                &_list {
                    padding-bottom: 10px;
                    &_a {
                        font-size: 12px;
                        row-gap: 7px;
                        padding-bottom: 10px;

                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .out{
        display: none;
    }
}