$maxSiteSize: 1600px;
$siteContentSize: 1140px;
$headerAndFooterColor: #222;
$siteMainColor: #F16D7F;
$siteDescriptionColor: #575757;
$siteAnotherColor: #6F6E6E;
$priceColor: #EF5B70;
$borderColor: #A4A4A4;
$descriptionColor: #B1B1B1;